<section class="section-articles js--wp-3">
  <div class="group" id="Blog">
    <h2>Popular Post</h2>
  </div>
  <div class="group">
    <% blogs.forEach(function(blog){ %>
    <div class="col span_1_of_3 box">
      <a href="/becepastquestions/blogs/<%= blog._id %>"><img src="<%=blog.image %>" alt="article-image"></a>
      <div class="article-content">
        <div class="group">
          <h3><a href="/becepastquestions/blogs/<%= blog._id %>" target="_blank"><%=blog.title%></a></h3>
        </div>
        <p class="long-copy">
          <a class="blog-substring" href="/becepastquestions/blogs/<%=blog._id %>"
            target="_blank"><%= blog.body.substring(0, 100)%> ... <span class="read-more">Read More</span></a>
        </p>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<section class="section-downloads js--section-downloads">
  <div class="group">
    <h2>DOWNLOAD SYLLABUSES, EXAMS QUESTIONS AND LESSON NOTES</h2>
  </div>
  <div class="group js--wp-4">
    <div class="col span_1_of_5 box">
      <div class="group">
        <h3>Primary Syllabus</h3>
      </div>
      <ul class="syllabuses">
        <li><a href="#">Information & Comm Tech</a></li>
        <li><a href="#">Ghanaian Language</a></li>
        <li><a href="#">Mathematics</a></li>
        <li><a href="#">English Language</a></li>
        <li><a href="#">Citizenship Edu</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Creative Art</a></li>
        <li><a href="#">Religious & Moral Education</a></li>
      </ul>
    </div>
    <div class="col span_1_of_5 box">
      <div class="group">
        <h3>J.H.S Syllabus</h3>
      </div>
      <ul class="syllabuses">
        <li><a href="#">Basic Design & Tech</a></li>
        <li><a href="#">Ghanaian Language</a></li>
        <li><a href="#">Mathematics</a></li>
        <li><a href="#">English Language</a></li>
        <li><a href="#">Information & Comm Tech</a></li>
        <li><a href="#">Integrated Science</a></li>
        <li><a href="#">Social Studies</a></li>
        <li><a href="#">Religious & Moral Education</a></li>
      </ul>
    </div>
    <div class="col span_1_of_5 box" id="lesson-note">
      <div class="group">
        <h3>Lesson Notes</h3>
      </div>
      <button class="accordion">TERM 1 EXAMS</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 2</a></li>
      </ul>
      <button class="accordion">TERM 2 EXAMS</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
      </ul>
      <button class="accordion">TERM 3 EXAMS</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
      </ul>
    </div>
    <div class="col span_1_of_5 box" id="terminal-exams">
      <div class="group">
        <h3>J.H.S Exams </h3>
      </div>
      <button class="accordion">TERM 1 EXAMS</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 2</a></li>
      </ul>
      <button class="accordion">TERM 2 EXAMS</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
      </ul>
      <button class="accordion">TERM 3 EXAMS</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
      </ul>
    </div>
    <div class="col span_1_of_5 box" id="mock-exams">
      <div class="group">
        <h3>Mock Exams</h3>
      </div>
      <button class="accordion">1ST MOCK</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 2</a></li>
      </ul>
      <button class="accordion">2ND MOCK</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
      </ul>
      <button class="accordion">3RD MOCK</button>
      <ul class="accordion-content">
        <li><a href="#">ENGLISH LAN JHS 2</a></li>
        <li><a href="#">ENGLISH LAN JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 1</a></li>
        <li><a href="#">MATHEMATICS JHS 2</a></li>
        <li><a href="#">INT SCIENCE JHS 1</a></li>
        <li><a href="#">INT SCIENCE JHS 2</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
        <li><a href="#">SOCIAL STD JHS 1</a></li>
      </ul>
    </div>
  </div>
</section>
<footer>
    <div class="group">
       <div class="col span_1_of_3">
         <div class="group">
           <h3>CONTACT</h3>
         </div>
         <ul class="footer-nav">
          <li> 
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a class="contact-number">+(233) 205334596 </a>
          </li>
          <li> 
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a class="email" href="#">omnidronealpha@gmail.com</a>
          </li>
        </ul>
       </div>
       <div class="col span_1_of_3">
         <div class="group">
           <h3>SOCIAL MEDIA</h3>
           <p id="like-me">Like me on</p>
         </div>
        <ul class="footer-social-links">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
       </div>
       <div class="col span_1_of_3">
         <div class="group">
           <h3 class="news-letter">NEWSLETTER</h3>
           <p class="news-letter"><em>Subscribe to get the latest post on B.E.C.E and programming</em></p>
         </div>
        <div class="group">
          <form action="" method="post">
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="submit"  class="form-control btn " value="Subscribe">
            </div>
          </form>
        </div>
       </div>
    </div>
    <div class="group">
      <div class="footer-copy-right">
          <p>Copyright &copy; 2019 by Ultimate Pasco | All rights reserved.</p>
      </div> 
    </div>
  </footer>
  
  <!-- Scripts that enable older browsers to understand and execute css media queries -->
  <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  
  <!-- Scripts to enabe us to use and style html5 elements in older browsers -->
  <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  
  <!-- //This script allows us to use css pseudo classes like less child, first-child on internet explorer 6, 7, 8 etc; -->
  <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"       integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/lib/js/jquery.waypoints.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</body> 
</html>