<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prime Tech</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/col.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/2cols.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/3cols.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/4cols.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/5cols.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/queries.css">
</head>
<body>
    <header>
        <nav>
          <div class="group">
              <div class="brand--crt--user">
                <a class="brand" href="/">Ultimate Pasco</a>
                <% if(currentUser){ %>
                <ul>
                    <li><a href="#"><span class="crt-user"><%= currentUser.username %></span></a></li>
                </ul>
                <% } %>
              </div>
              <ul class="main-nav js--main-nav">
                  <li class="<%= typeof page !== 'undefined' && page === 'blogs' ? 'active' : '' %>"><a href="/becepastquestions">Home</a></li>
  
                  <% if(currentUser && currentUser.isAdmin){ %>
                      <li class="<%= typeof page !== 'undefined' && page === 'blogs/newBlog' ? 'active' : '' %>"><a href="/becepastquestions/blogs/new" target="_blank">New Post</a></li>
                  <% } %>
                  <li> <a href="#" target="_blank" >Portfolio</a></li>
                  
                  <% for (let i = 0; i < blogs.length; i++){ %>
                   <% if( i === 0){ %>
                    <li> <a href="/becepastquestions/blogs/<%= blogs[i]._id %>">Blog</a></li>  
                   <% } %>
                  <% } %>

                  <% if(!currentUser){ %>
                      <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login" >Login<i class="fa fa-user-plus"></i></a></li>
                      <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register" >Sign Up<i class="fa fa-user-plus"></i></a></li>
                  <% } else { %>
                      <li><a href="/logout">Logout</a></li>
                      <li><a href="#"><span class="username-span"><%= currentUser.username %></span></a></li>
                  <% } %>
              </ul>
              <a class="mobile-nav-icon js--nav-icon"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </div>
      </nav>
      <div class="hero-text-box">
          <div class="group">
          <h1>B.E.C.E PAST QUESTIONS AND ANSWERS</h1>
          </div>
          <div class="group">
          <div class="header-btn">
              <a href="#" class="btn-ctrl btn-full js--scroll-to-quiz">B.E.C.E Quizzes</a>
          </div>
          <div class="header-btn" id="notes">
              <a href="#" class="btn-ctrl btn-full js--scroll-to-downloads">Lesson notes</a>
          </div>
          <div class="header-btn" id="syllabus">
              <a href="#" class="btn-ctrl btn-full js--scroll-to-downloads">Syllabus</a>
          </div>
          <div class="header-btn" id="exams">
              <a href="#" class="btn-ctrl btn-full js--scroll-to-downloads">J.h.s Exam</a>
          </div>
          <div class="header-btn" id="mock">
              <a href="#" class="btn-ctrl btn-full js--scroll-to-downloads">Mock Exams</a>
          </div>
          </div>
      </div>
    </header>

    <section class="section-subjects js--section-subjects js--wp-2">
        <div class="group">
            <h2>BROWSE SUBJECTS</h2>
            <button class="btn-qs  js--scroll-quiz-samples">Click here to Try Quiz Samples</button>
        </div>
        <div class="group">
            <div class="col span_1_of_2">
                <button class="accordion">ENGLISH LANGUAGE</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/english/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/english/2019">2019 QUIZ</a></li>
                </ul>
                <button class="accordion">MATHEMATICS</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/mathematics/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/mathematics/2019">2019 QUIZ</a></li>
                </ul>
                <button class="accordion">INTEGRATED SCIENCE</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/science/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/science/2019">2019 QUIZ</a></li>
                </ul>
                <button class="accordion">SOCIAL STUDIES</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/social/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/social/2019">2019 QUIZ</a></li>
                </ul>
            </div>
            <div class="col span_1_of_2">
                <button class="accordion" id="btn-ict">INFORMATION & COMMUNICATION TECHNOLOGY</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/ict/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/ict/2019">2019 QUIZ</a></li>
                </ul>
                <button class="accordion">RELIGIOUS AND MORAL EDUCATION</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/rme/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/rme/2019">2019 QUIZ</a></li>
                </ul>
                <button class="accordion">BASIC DESIGN AND TECHNOLOGY</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/bdt/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/bdt/2019">2019 QUIZ</a></li>
                </ul>
                <button class="accordion">GHANAIAN LANGUAGE</button>
                <ul class="accordion-content">
                    <li><a href="/becepastquestions/asantetwi/2012">2012 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2013">2013 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2014">2014 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2015">2015 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2016">2016 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2017">2017 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2018">2018 QUIZ</a></li>
                    <li><a href="/becepastquestions/asantetwi/2019">2019 QUIZ</a></li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="section-quiz js--wp-1">
        <div class="group">
            <h2>SAMPLE QUIZ</h2>
        </div>
        <div class="container">
            <!-- <div class="left-column">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus animi architecto magnam voluptatem? Magnam sunt corporis culpa labore. Sint necessitatibus totam molestiae minima voluptates neque animi iure dolorum veniam rerum, ipsa quibusdam. Magnam aliquid maxime odit laboriosam doloremque? Odio rem dignissimos aliquam eius minima et accusantium corrupti minus, vero libero, ipsam suscipit temporibus,
            </div> -->
            <div class="middle-column">
                <div class="group button-control">
                    <div class="col span_1_of_4 control-items">
                        <select class="chooseTimer" id="clock">
                            <option value="thirty" selected>30 min</option>
                            <option value="fortyFive">45 min</option>
                            <option value="oneHour">1 hour</option>
                            <option value="oneHalf">1h:30min</option>
                            <option value="oneQuarter">1h:45min</option>
                            <option value="twoHours">2 hours</option>
                        </select>
                    </div>
                    <div class="col span_1_of_4 control-items">
                        <a href="#" class="retake btn-ctrl btn-full js--scroll-quiz-samples js--wp-1"
                            onClick="document.location.reload(true)">Retake</a>
                    </div>
                    <div class="col span_1_of_4 control-items">
                        <a href="#" class="btn-ctrl btn-full set__time js--scroll-quiz-samples js--wp-1">Time</a>
                    </div>
                    <div class="col span_1_of_4 control-items">
                        <a href="#" class="btn-ctrl btn-full reset js--scroll-quiz-samples js--wp-1">Stop</a>
                    </div>
                </div>
  

    