<% include partials/header %>
<section class="section-subjects js--section-subjects js--wp-2">
    <div class="group">
        <h2>BROWSE SUBJECTS</h2>
        <button class="btn-qs  js--scroll-quiz-samples">Click here to Try Quiz Samples</button>
    </div>
    <div class="group">
        <div class="col span_1_of_2">
            <button class="accordion">ENGLISH LANGUAGE</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
            <button class="accordion">MATHEMATICS</button>
            <ul class="accordion-content">
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
            <li><a href="#">1990 QUIZ</a></li>
        </ul>
        <button class="accordion">INTEGRATED SCIENCE</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
            <button class="accordion">SOCIAL STUDIES</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
        </div>
        <div class="col span_1_of_2">
            <button class="accordion" id="btn-ict">INFORMATION & COMMUNICATION TECHNOLOGY</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
            <button class="accordion">RELIGIOUS AND MORAL EDUCATION</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
            <button class="accordion">BASIC DESIGN AND TECHNOLOGY</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
            <button class="accordion">GHANAIAN LANGUAGE</button>
            <ul class="accordion-content">
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
                <li><a href="#">1990 QUIZ</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="section-quiz js--wp-1">
    <div class="group">
        <h2>SAMPLE QUIZ</h2>
    </div>
    <div class="container">
        <div class="left-column">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus animi architecto magnam voluptatem? Magnam sunt corporis culpa labore. Sint necessitatibus totam molestiae minima voluptates neque animi iure dolorum veniam rerum, ipsa quibusdam. Magnam aliquid maxime odit laboriosam doloremque? Odio rem dignissimos aliquam eius minima et accusantium corrupti minus, vero libero, ipsam suscipit temporibus,
        </div>
        <div class="middle-column">
            <div class="group button-control">
                <div class="col span_1_of_4 control-items">
                    <select name="" id="clock">
                        <option value="1">30 min</option>
                        <option value="2">1 hr</option>
                        <option value="3">1:30min</option>
                        <option value="4">2 hrs</option>
                    </select> 
                </div>
                <div class="col span_1_of_4 control-items">
                    <a href="#" class="btn-ctrl btn-full">Reset</a>
                </div>
                <div class="col span_1_of_4 control-items">
                    <a href="#" class="btn-ctrl btn-full">Set Time</a>
                </div>
                <div class="col span_1_of_4 control-items">
                    <a href="#" class="btn-ctrl btn-full">Stop</a>
                </div> 
            </div>
            <div class="group">
                <h3>B.E.C.E <span>English Language </span><span> 2019 (Objectives)</span></h3>
            </div>
            <div class="quiz-sample js--wp-1">
                <div class="field">
                <p>1. The digestion of carbohydrates starts in the </p>
                <label id="A-1" class="A"><input  name="choices-1" type="radio" value="A">mouth</label><br>
                <label id="B-1" class="B"><input  name="choices-1" type="radio" value="B">throat</label><br>
                <label id="C-1" class="C"><input  name="choices-1" type="radio" value="C">stomach</label><br>
                <label id="D-1" class="D"><input  name="choices-1" type="radio" value="D">duodenum</label><br>
                <label id="E-1" class="E"><input  name="choices-1" type="radio" value="E">ileum</label><br>
                <button  class="submit" id="submit-1" >Submit</button>
                </div>
                <div class="field">
                <p>2. Photosynthesis in plants requires chlorophyll, sunlight, water and </p>
                <label class="A" id="A-2"><input  name="choices-2" type="radio" value="A">oxygen</label><br>
                <label class="B" id="B-2"><input  name="choices-2" type="radio" value="B">carbon dioxide</label><br>
                <label class="C" id="C-2"><input  name="choices-2" type="radio" value="C">steam</label><br>
                <label class="D" id="D-2"><input  name="choices-2" type="radio" value="D">hydrogen</label><br>
                <label id="E-2" class="E"><input  name="choices-2" type="radio" value="E">nitrogen</label><br>
                <button class="submit" id="submit-2" >Submit</button> 
                </div>
                <div class="field">
                <p>3. Which of the following objects is a good conductor of heat?</p>
                <label class="A" id="A-3"><input  name="choices-3" type="radio" value="A">Wood</label><br>
                <label class="B" id="B-3"><input  name="choices-3" type="radio" value="B">Rubber</label><br>
                <label class="C" id="C-3"><input  name="choices-3" type="radio" value="C">Copper</label><br>
                <label class="D" id="D-3"><input  name="choices-3" type="radio" value="D">Plastic</label><br>
                <label id="E-3" class="E"><input  name="choices-3" type="radio" value="E">Wool</label><br>
                <button class="submit" id="submit-3" >Submit</button>
                </div>
                <div class="field">
                <p>4. What is the work done when a force of 2.5N moves through a distance of 4 m?</p> 
                <label class="A" id="A-4"><input  name="choices-4" type="radio" value="A">0.6J</label><br>
                <label class="B" id="B-4"><input  name="choices-4" type="radio" value="B">1.5J</label><br>
                <label class="C" id="C-4"><input  name="choices-4" type="radio" value="C">1.6J</label><br>
                <label class="D" id="D-4"><input  name="choices-4" type="radio" value="D">6.5J</label><br>
                <label id="E-4" class="E"><input  name="choices-4" type="radio" value="E">10.0J</label><br>
                <button class="submit" id="submit-4" >Submit</button>   
                </div>
                <div class="field">
                <p>5. The breaking down of complex food substances into simple soluble form for easy absorption by the cells of the body is called ...........</p> 
                <label class="A" id="A-5"><input  name="choices-5" type="radio" value="A">assimilation</label><br>
                <label class="B" id="B-5"><input  name="choices-5" type="radio" value="B">transpiration</label><br>
                <label class="C" id="C-5"><input  name="choices-5" type="radio" value="C">reproduction</label><br>
                <label class="D" id="D-5"><input  name="choices-5" type="radio" value="D">digestion</label><br>
                <label id="E-5" class="E"><input  name="choices-5" type="radio" value="E">respiration</label><br>
                <button class="submit" id="submit-5" >Submit</button>
                </div>
            </div>
        </div>
        <div class="right-column">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus quas quaerat suscipit sapiente alias nulla sit illum et voluptatum, fuga architecto aliquam! Nulla nam voluptas dolore excepturi in? Dignissimos obcaecati temporibus provident voluptates sint. Delectus blanditiis fugit minima quia eius repellat doloremque provident ducimus itaque nesciunt tempore natus sequi, libero exercitationem voluptatem nemo est, incidunt 
        </div>
    </div>
</section>

<section class="section-articles js--wp-3">
    <div class="group" id="Blog">
        <h2>Popular Post</h2>
    </div>
    <div class="group">
        <% blogs.forEach(function(blog){ %>
            <div class="col span_1_of_3 box">
                <a href="/becepastquestions/blogs/<%= blog._id %>"><img src="<%=blog.image %>" alt="article-image"></a>
                <div class="article-content">
                    <div class="group">
                        <h3><a href="/becepastquestions/blogs/<%= blog._id %>" target="_blank"><%=blog.title%></a></h3>
                    </div>
                    <p class="long-copy">
                        <a class="blog-substring" href="/becepastquestions/blogs/<%=blog._id %>" target="_blank"><%= blog.body.substring(0, 100)%> ... <span class="read-more">Read More</span></a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</section>

<section class="section-downloads js--section-downloads">
    <div class="group">
        <h2>DOWNLOAD SYLLABUSES, EXAMS QUESTIONS AND LESSON NOTES</h2>
    </div>
    <div class="group js--wp-4">
        <div class="col span_1_of_5 box">
        <div class="group">
            <h3>Primary Syllabus</h3>
        </div>
        <ul class="syllabuses">
            <li><a href="#">Ghanaian Language</a></li>
            <li><a href="#">English Language</a></li>
            <li><a href="#">Citizenship Edu</a></li>
            <li><a href="#">Natural Science</a></li>
            <li><a href="#">Mathematics</a></li>
            <li><a href="#">Creative Art</a></li>
            <li><a href="#">I. C. T</a></li>
            <li><a href="#">R.M.E</a></li>
        </ul>
        </div>
        <div class="col span_1_of_5 box">
            <div class="group">
                <h3>J.H.S Syllabus</h3>
            </div>
            <ul class="syllabuses">
            <li><a href="#">Ghanaian Language</a></li>
            <li><a href="#">Integrated Science</a></li>
            <li><a href="#">English Language</a></li>
            <li><a href="#">Social Studies</a></li>
            <li><a href="#">Mathematics</a></li>
            <li><a href="#">I. C. T</a></li>
            <li><a href="#">B.D.T</a></li>
            <li><a href="#">R.M.E</a></li>
            </ul>
        </div>
        <!-- <div class="col span_1_of_5 box">
            <div class="group">
                <h3>Lesson Notes</h3>
            </div>
            <ul class="lesson-notes">
            <li><a href="#">Ghanaian Language</a></li>
            <li><a href="#">Integrated Science </a></li>
            <li><a href="#">English Language </a></li>
            <li><a href="#">Social Studies </a></li>
            <li><a href="#">Mathematics </a></li>
            <li><a href="#">I. C. T </a></li>
            <li><a href="#">B.D.T </a></li>
            <li><a href="#">R.M.E </a></li>
            </ul>
        </div> -->
        <div class="col span_1_of_5 box" id="lesson-note">
            <div class="group">
                <h3>Lesson Notes</h3>
            </div>
            <button class="accordion">TERM 1 EXAMS</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 2</a></li>
            </ul>
            <button class="accordion">TERM 2 EXAMS</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
            </ul>
            <button class="accordion">TERM 3 EXAMS</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
            </ul>
        </div>
        <div class="col span_1_of_5 box" id="terminal-exams">
            <div class="group">
                <h3>J.H.S Exams </h3>
            </div>
            <button class="accordion">TERM 1 EXAMS</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 2</a></li>
            </ul>
            <button class="accordion">TERM 2 EXAMS</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
            </ul>
            <button class="accordion">TERM 3 EXAMS</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
            </ul>
        </div>
        <div class="col span_1_of_5 box" id="mock-exams">
            <div class="group">
            <h3>Mock Exams</h3>
            </div>
            <button class="accordion">1ST MOCK</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 2</a></li>
            </ul>
            <button class="accordion">2ND MOCK</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
            </ul>
            <button class="accordion">3RD MOCK</button>
            <ul class="accordion-content">
                <li><a href="#">ENG 2</a></li>
                <li><a href="#">ENG 1</a></li>
                <li><a href="#">MATHS 1</a></li>
                <li><a href="#">MATHS 2</a></li>
                <li><a href="#">INT SCI 2</a></li>
                <li><a href="#">INT SCI 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
                <li><a href="#">SOC STUD 1</a></li>
            </ul>
        </div>
    </div>
</section>

<% include partials/footer %> 
