<% include ../partials/header %>

<div class="row">
  <div class="col-md-4">
    <h1><%=user.firstName + " " + user.lastName%></h1>
    <div class="thumbnail">
      <img src="<%=user.avatar%>" alt="User Profile Image">
      <div class="caption">
        <a href="mailto:<%=user.email%>"><%=user.email%></a>
      </div>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut esse, similique dolores nostrum harum in inventore accusamus ex! Atque hic fuga animi perferendis quia minus quo eligendi distinctio incidunt?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eaque temporibus, neque tempora ex, excepturi, dolore deserunt expedita enim fuga quam dolorem quibusdam a aliquam. Corporis similique ea sit quas!
  </div> 
  <div class="col-md-8">
    <h3><%=user.username%>'s Blog</h3>
    <ul>
      <% blogs.forEach(function(blog){ %>
      <li><a href="/becepastquestions/blogs/<%=blog.id%>"><%=blog.title %></a></li>
      <% }) %>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
